#success_message {
  color: green;
}

#fail_message {
  color: #8a1b46;
}

.feature,
.title {
  text-align: center;
}

.redButton {
  background-color: #8a1b46;
}

#send_button {
  text-align: justify;
  align-items: center;
}

p {
  text-align: justify;
  color: #353535 !important;
}

.responsive-img {
  height: 300px !important;
}

.brand-logo img {
  height: 80px;
  margin: 5px;
}

.no-shadows {
  box-shadow: none !important;
  height: 90px;
}

.navbar-fixed {
  height: 90px;
}

.material-icons {
  color: #a2a5a5;
}
